.author__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 279px;
  margin-left: 56px;
  max-width: 600px;
}

/*---------------1279px-----------------*/
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .author__container {
    margin-left: 32px;
    margin-bottom: 0px;
  }
}

/*---------------1024px-----------------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .author__container {
    margin-left: 32px;
    margin-bottom: 0px;
  }
}

/*---------------768px-----------------*/
@media screen and (min-width: 701px) and (max-width: 768px) {
  .author__container {
    margin-left: 32px;
    margin-bottom: 0px;
  }
}

/*---------------700px-----------------*/
@media screen and (max-width: 700px) {
  .author__container {
    margin: 0;
  }
}