@import url('./__list/main-menu__list.css');
@import url('./__item/main-menu__item.css');
@import url('./__ico/main-menu__ico.css');
@import url('./__link/main-menu__link.css');
@import url('./__container/main-menu__container.css');
@import url('./__username/main-menu__username.css');
@import url('./_theme/_black/main-menu_theme_black.css');
@import url('./_theme/_white/main-menu_theme_white.css');

.main-menu {
}

/*---------------424px-----------------*/
@media screen and (max-width: 650px) {
  .main-menu {
    position: absolute;
    left: 0;
    top: 56px;
    width: 100vw;
    display: none;
  }
}