@import url('./_theme/_black/header__label_theme_black.css');
@import url('./_theme/_white/header__label_theme_white.css');

.header__label {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: auto 0;
}

/*---------------424px-----------------*/
@media screen and (max-width: 650px) {
  .header__label {
    font-size: 16px;
  }
}