.card__book-button {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border-radius: 8px;
  position: absolute;
  top: 24px;
  left: calc(100% - 40px - 24px);
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: block;
}

/*---------------1279px-----------------*/
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .card__book-button  {
    top: 16px;
    left: calc(100% - 40px - 16px);
  }
}

/*---------------1024px-----------------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .card__book-button {
    top: 16px;
    left: calc(100% - 40px - 16px);
  }
}

/*---------------768px-----------------*/
@media screen and (min-width: 721px) and (max-width: 768px) {
  .card__book-button {
    top: 8px;
    left: calc(100% - 40px - 8px);
  }
}

/*---------------720px-----------------*/
@media screen and (min-width: 601px) and (max-width: 720px) {
  .card__book-button {
    top: 8px;
    left: calc(100% - 40px - 8px);
  }
}

/*---------------600px-----------------*/
@media screen and (min-width: 500px) and (max-width: 600px) {
  .card__book-button {
    top: 8px;
    left: calc(100% - 40px - 8px);
  }
}

/*---------------499px-----------------*/
@media screen and (min-width: 425px) and (max-width: 499px) {
  .card__book-button {
    top: 8px;
    left: calc(100% - 40px - 8px);
  }
}

/*---------------424px-----------------*/
@media screen and (max-width: 424px) {
  .card__book-button {
    top: 16px;
    left: calc(100% - 40px - 16px);
  }
}