.card__word-msg {
  display: block;
  background: #FFFFFF;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  position: absolute;
  /* top: 24px;
  left: 6%; */
  top: 24px;
  left: 24px;
  height: 40px;
  margin: 0;
  padding: 0 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}

/*---------------1279px-----------------*/
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .card__word-msg  {
    /* top: 16px;
    left: 5.5%; */
    top: 16px;
    left: 16px;
  }
}

/*---------------1279px-----------------*/
@media screen and (min-width: 834px) and (max-width: 1024px) {
  .card__word-msg  {
    /* top: 16px;
    left: 5.5%; */
    top: 16px;
    left: 16px;
  }
}


/*---------------833px-----------------*/
@media screen and (min-width: 769px) and (max-width: 833px) {
  .card__word-msg {
    /* top: 16px;
    left: 3.3%; */
    top: 16px;
    left: 16px;
  }
}

/*---------------768px-----------------*/
@media screen and (min-width: 425px) and (max-width: 768px) {
  .card__word-msg {
    /* top: 8px;
    left: 3.5%; */
    top: 8px;
    left: 8px;
  }
}

/*---------------424px-----------------*/
@media screen and (max-width: 424px) {
  .card__word-msg {
    top: 16px;
    left: 16px;
  }
}