@import url('./__subtitle/saved-result__subtitle.css');
@import url('./__title/saved-result__title.css');
@import url('./__words/saved-result__words.css');
@import url('./__bold/saved-result__bold.css');

.saved-result {
  margin: 0;
  padding-left: 102px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*---------------1024px-----------------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .saved-result {
    padding: 24px 16px 32px 40px;
  }
}

/*---------------768px-----------------*/
@media screen and (min-width: 425px) and (max-width: 768px) {
  .saved-result {
    padding: 24px 16px 32px 40px;
  }
}

/*---------------424px-----------------*/
@media screen and (max-width: 424px) {
  .saved-result {
    padding: 8px 16px 32px 16px;
  }
}
