@import url('./__label/header__label.css');
@import url('./_theme/_white/header_theme_white.css');
@import url('./_theme/_black/header_theme_black.css');

.header {
  display: flex;
  justify-content: space-between;
  padding: 19px 104px 0px 104px;
  background: rgba(255, 255, 255, 0.01);
  /* box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2); */
}