.header__button {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

/*---------------424px-----------------*/
@media screen and (max-width: 650px) {
  .header__button {
    display: block;
  }
}