@import url(./__content/popup__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__input/popup__input.css);
@import url(./__input/_type/_name/popup__input_type_name.css);
@import url(./__button/popup__button.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./__error-label/popup__error-label.css);
@import url(./__label/popup__label.css);
@import url(./__login-container/poup__login-container.css);
@import url(./__user-exists/popup__user-exists.css);

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

/*---------------424px-----------------*/
@media screen and (max-width: 540px) {
  .popup {
    top: 56px;
  }
}
